/*
Source - https://stackoverflow.com/a/17380697
Posted by Hashem Qolami, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-01, License - CC BY-SA 4.0
*/

.modTable {
    width: 100%;
    border-spacing: 0;
}

.modTable thead, tbody, tr, th, td { display: block; }

.modTable thead tr {
    /* fallback */
    width: 100%;
    /* minus scroll bar width */
    
}

.modTable tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.modTable tbody {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modTable tbody td, thead th {
    width: 11%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}